*{
  box-sizing: border-box;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

body{
  background-image: url(img/background.jpg);
  background-size: cover;
  align-items: center;
  background-repeat: no-repeat;
}

.container{
  width: 800px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2%;
  padding-bottom: 5%;
  border-radius: 10px;
}

.logo, .first-title{
  display: block;
  margin: auto;
}

.logo{
  width: 20%;
  padding-bottom: 5px;
}

.first-title{
  font-weight: 900;
  width: 35%;
  color: rgba(0,221,0,255);
  padding-bottom: 5px
}

nav{
  width: 90%;
  margin: auto;
  background-color: rgba(0,221,0,255);
  padding: 1% 1% 1% 27%;
}

button{
  font-family: sans-serif;
  font-size: 10px;
}

.listed-monopattino > li{
  color: white;
  font-weight: 900;
}

ul > div{
  color: white;
  font-size: 10px;
  font-weight: 600;
}

ul :last-child{
  border-radius: 2px;
}

.barra-carica-half{
  color: orange;
  background-color: orange;
  margin-right: 70%;
}

.barra-carica-full{
  color: rgba(30,195,30,255);
  background-color: rgba(30,195,30,255);
  margin-right: 50%;
}

.barra-carica-low{
  color: darkred;
  background-color: darkred;
  margin-right: 85%;
}
